html,
body {
  height: 90%;
}

body {
  background-color: #f5f5f5;
}
.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin #floatingPassword {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin #floatingcheckPassword {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}